body {
  background-color: #333;
}

.admin-quiz-page {
  padding: 20px;
  background-color: #333;
}

.admin-quiz-page h1,
h2 {
  color: #fff;
}

.admin-quiz-page button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #248f8d;
  color: white;
  border: none;
  cursor: pointer;
}

.admin-quiz-page button:hover {
  background-color: #61ada0;
}
