.quiz-container {
  padding: 20px;
  background-color: #1d1f21;
  color: #f5f5f5;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100%;
}

.quiz-container h2 {
  margin-bottom: 20px;
}
.quiz-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.quiz-card {
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #2c2f30;
  color: #f5f5f5;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  /* flex: 1 0 200px; */
  max-width: 300px;
  margin-top: 30px;
}

.quiz-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.quiz-card h3 {
  margin: 0;
  font-size: 20px;
}

.quiz-card p {
  margin: 5px 0 0;
  font-size: 16px;
}

.quiz_button {
  padding: 20px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #248f8d;
  color: #fff;
  cursor: pointer;
  width: 200px;
}

.quiz_button:hover {
  background-color: #61ada0 !important;
  color: #fff !important;
}
.level-up-modal {
  color: #248f8d;
}

.quiz-result-summary {
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .quiz-list {
    flex-direction: column;
    align-items: center;
  }

  .quiz-card {
    width: calc(100% - 40px);
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .quiz-card p {
    font-size: 1rem;
  }

  .quiz_button {
    width: 100%;
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
